%h3 #{t '.title'}

#exercises_view

:coffeescript
  $ ->
    window.app = new App.Routers.Exercises
      exercises: #{json_for @exercises}
      url: '#{references_exercises_path}'
      el: '#exercises_view'
    Backbone.history.start()