%h3
  #{t '.title'}
  - if can? :manage, References::Exercise
    = link_to t('.actions.new'), new_references_exercise_path, class: 'btn btn-sm btn-primary pull-right'

#exercises_view

:coffeescript
  $ ->
    window.app = new App.Routers.Exercises
      exercises: #{json_for @exercises}
      url: '#{references_exercises_path}'
      el: '#exercises_view'
    Backbone.history.start()