%h3 Your journal
Records in: #{@items.count}

#journal_items

:coffeescript
  $ ->
    window.app = new App.Routers.Journal
      items: #{json_for @items}
      url: '#{journal_items_path}'
      el: '#journal_items'
    Backbone.history.start()
