%h3 #{References::BodyPart.model_name.human(count: '')}
%ul
- @body_parts.each do |body_part|
  %li #{link_to body_part.name, body_part}

- if can? :manage, References::BodyPart
  .row
    .col-sm-4.col-sm-offset-4
      .btn-group-justified
        = link_to t('.actions.new'), new_references_body_part_path, class: 'btn btn-primary'