%h3 #{Muscle.model_name.human(count: '')}
%ul
- @muscles.each do |muscle|
  %li #{link_to muscle.name, muscle}

- if can? :manage, Muscle
  .row
    .col-sm-4.col-sm-offset-4
      .btn-group-justified
        = link_to t('muscles.actions.new'), new_muscle_path, class: 'btn btn-primary'