%h3 Exercises
%ul
- @exercises.each do |exercise|
  %li #{link_to exercise.name, exercise}

- if can? :manage, Exercise
  .row
    .col-sm-4.col-sm-offset-4
      .btn-group-justified
        = link_to 'Add New', new_exercise_path, class: 'btn btn-primary'