%h3 Body Parts
%ul
- @body_parts.each do |body_part|
  %li #{link_to body_part.name, body_part}

- if can? :manage, BodyPart
  .row
    .col-sm-4.col-sm-offset-4
      .btn-group-justified
        = link_to 'Add New', new_body_part_path, class: 'btn btn-primary'