= render layout: 'edit', locals: {action: 'contacts'} do |f|

  %div.form-group
    %label.col-sm-4.control-label
      %strong Country
    %div.col-sm-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-edit
        = f.text_field :country, autofocus: true, class: 'form-control', placeholder: "Country"
      %span.help-block

  %div.form-group
    %label.col-sm-4.control-label
      %strong City
    %div.col-sm-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-edit
        = f.text_field :city, class: 'form-control', placeholder: "City"
      %span.help-block