= render layout: 'edit', locals: {action: 'password'} do |f|

  %div.form-group
    %label.col-sm-3.col-md-4.control-label
      %strong Password
    %div.col-sm-7.col-md-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-lock
        = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: "password"
      %span.help-block

  %div.form-group
    %label.col-sm-3.col-md-4.control-label
      %strong Confirmation
    %div.col-sm-7.col-md-5
      %div.input-group.input-group-sm
        %span.input-group-addon
          %i.fa.fa-fw.fa-lock
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "confirmation"
      %span.help-block

  - if resource.encrypted_password.present?
    %div.form-group
      %label.col-sm-3.col-md-4.control-label
        %strong Current Password
      %div.col-sm-7.col-md-5
        %div.input-group.input-group-sm
          %span.input-group-addon
            %i.fa.fa-fw.fa-lock
          = f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "current password"
        %span.help-block